html{
    background-image: url("background_aude.jpg");
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;

}




h1
{
    color:red;
    text-align: center;
}


h3
{
    color: rgb(28, 199, 162);
    text-align: center;

}

.icons
{
    text-align: center;
}

.icons img
{
    height: 50px;
    width: auto;
}

