@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');



html{
    background-image: url("background_aude.jpg");
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;

}




h1
{
    color: white;
    text-align: center;
    margin-top: 13%;
    font-family: 'Kufam', sans-serif ;
}


h3
{
    color: rgba(255, 255, 255, 0.719);
    text-align: center;

}

.icons
{
    text-align: center;
}

.icons img
{
    height: 50px;
    width: auto;
}

